<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Meals</title>
    <link rel="stylesheet" th:href="@{/css/flat-ui.css}"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile.structure-1.3.0.min.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="a">
    <div data-role="header" data-position="fixed" data-theme="b">
        <h1>餐费管理</h1>
    </div>
    <div id="minus-success" style="color: green;display: none;text-align: center">成功扣款！</div>
    <div id="minus-err" style="color: red;display: none;text-align: center">扣款失败！</div>
    <div id="plus-success" style="color: green;display: none;text-align: center">充值成功！</div>
    <div id="plus-err" style="color: red;display: none;text-align: center">充值失败！</div>
    <div id="left" data-role="content">
        <div class="ui-body">
            <h3 id="date" style="text-align: center"></h3>
        </div>
        <div data-role="fieldcontain">
            <label for="name-c">本次用餐消费:</label>
            <input type="text" name="name" id="name-c" value=""/>
        </div>
        <a id="minus" href="#" data-role="button" data-theme="b">提交餐费</a>
    </div>
    <div id="right" data-role="content" style="display: none">
        <div class="ui-body">
            <!--/*@thymesVar id="balance" type="java.lang.String"*/-->
            <h3 id="balance" style="text-align: center" th:text="'余额：'+${balance}"></h3>
        </div>
        <div data-role=" fieldcontain">
            <label for="name-a">本次充值金额:</label>
            <input type="text" name="name" id="name-a" value=""/>
        </div>
        <a id="plus" href="#" data-role="button" data-theme="b">确认冲值</a>
    </div>
    <div data-role="footer" data-position="fixed" data-theme="b">
        <div data-role="navbar">
            <ul>
                <li><a id="left-bar" href="#" data-icon="home" class="ui-btn-active ui-state-persist">消费</a></li>
                <li><a id="right-bar" href="#" data-icon="refresh">钱包</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $("#date").html((new Date()).toDateString());
        $("#left-bar").click(function () {
            $("#left").css("display", "");
            $("#right").css("display", "none")
        });
        $("#right-bar").click(function () {
            $("#right").css("display", "");
            $("#left").css("display", "none")
        });
        $("#minus").click(function () {
            $.get(window.location.pathname + "/minus", {balance: $('#name-c').val()}, function (data) {
                var status = JSON.parse(data).status;
                if (status == '200') {
                    $("#minus-success").css("display", "");
                    setTimeout(function () {
                        $("#minus-success").css("display", "none")
                    }, 2000)
                } else {
                    $("#minus-err").css("display", "");
                    setTimeout(function () {
                        $("#minus-err").css("display", "none")
                    }, 2000)
                }
            });
        });
        $("#plus").click(function () {
            $.get(window.location.pathname + "/plus", {balance: $('#name-a').val()}, function (data) {
                if (!data) {
                    $("#plus-err").css("display", "");
                    setTimeout(function () {
                        $("#plus-err").css("display", "none")
                    }, 2000)
                } else {
                    $("#balance").html(JSON.parse(data).balance);
                    console.info(JSON.parse(data).balance);
                    $("#plus-success").css("display", "");
                    setTimeout(function () {
                        $("#plus-success").css("display", "none")
                    }, 2000)
                }
            });
        })
    })
</script>
</html>